# Price Tagging

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("data/CPITimeSeries.csv")

df.head()

C:\Users\pedro\AppData\Local\Temp\ipykernel_45660\3703412444.py:1: DtypeWarning: Columns (5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/CPITimeSeries.csv")

,Country Name,Country Code,Indicator Name,Indicator Code,Attribute,1950M1,1950M2,1950M3,1950M4,1950M5,...,2022M1,2022M2,2022M3,2022M4,2022M5,2022M6,2022M7,2022M8,Common Reference Period,Unnamed: 878
0,Brazil,223,"Consumer Price Index, All items, Percentage ch...",PCPI_PC_PP_PT,Value,NaN,NaN,NaN,NaN,NaN,...,0.540029150136277,1.01006161132049,1.62005007047194,1.06001808126436,0.470007269445767,0.670057758760498,-0.680003407761961,NaN,NaN,NaN
1,Brazil,223,"Consumer Price Index, All items, Percentage ch...",PCPI_PC_CP_A_PT,Value,NaN,NaN,NaN,NaN,NaN,...,10.3794248442458,10.5436617263354,11.2994121295852,12.1316302169067,11.731212845584,11.886869625198,10.0694033168709,NaN,NaN,NaN
2,Brazil,223,Communication,PCPIEC_IX,Value,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993M12,NaN
3,Brazil,223,Communication,PCPIEC_IX,Reference Period,NaN,NaN,NaN,NaN,NaN,...,1993M12,1993M12,1993M12,1993M12,1993M12,1993M12,1993M12,NaN,NaN,NaN
4,Brazil,223,Clothing and footwear,PCPIA_IX,Value,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993M12,NaN

In [4]:
df["Country Name"].unique()

array(['Brazil', 'France', 'Bulgaria', 'Honduras', 'Canada', 'Colombia',
       'Finland', "Côte d'Ivoire", 'Gabon', 'Cameroon', 'Guatemala',
       'Croatia, Rep. of', 'Hungary', 'Germany', 'China, P.R.: Mainland',
       'Comoros, Union of the', 'Chile', 'Guinea', 'Greece',
       'Afghanistan, Islamic Rep. of', 'Iceland', 'Benin', 'Gambia, The',
       'Czech Rep.', 'Denmark', 'Austria', 'Bahamas, The', 'Cyprus',
       'Belgium', 'Bahrain, Kingdom of', 'Estonia, Rep. of',
       'China, P.R.: Hong Kong', 'Brunei Darussalam', 'Botswana',
       'Azerbaijan, Rep. of', 'Fiji, Rep. of', 'Dominican Rep.',
       'China, P.R.: Macao', 'Belarus, Rep. of', 'Armenia, Rep. of',
       'Georgia', 'Ghana', 'Ethiopia, The Federal Dem. Rep. of',
       'British Virgin Islands', 'Costa Rica', 'Egypt, Arab Rep. of',
       'Burundi', 'Equatorial Guinea, Rep. of', 'Algeria',
       'Bosnia and Herzegovina', 'Bhutan', 'Belize', 'Bolivia', 'Albania',
       'El Salvador', 'Eswatini, Kingdom of', 'Ecuador', 'Grenada',
       'Dominica', 'Aruba, Kingdom of the Netherlands', 'Cambodia',
       'Burkina Faso', 'Guadeloupe', 'Bangladesh', 'Djibouti',
       'Congo, Dem. Rep. of the', 'Cabo Verde', 'Barbados', 'Haiti',
       'Argentina', 'Angola', 'Antigua and Barbuda',
       'Curaçao, Kingdom of the Netherlands', 'Guyana', 'Guinea-Bissau',
       'Central African Rep.', 'Congo, Rep. of', 'Chad', 'Euro Area',
       'Norway', 'Lithuania', 'Russian Federation', 'Liberia',
       'Luxembourg', 'Latvia', 'Paraguay', 'Mauritania, Islamic Rep. of',
       'Mauritius', 'Mexico', 'Mali', 'India', 'Saudi Arabia',
       'Indonesia', 'Mozambique, Rep. of', 'Slovenia, Rep. of', 'Ireland',
       'Singapore', 'Israel', 'Niger', 'Italy', 'South Africa', 'Japan',
       'Samoa', 'Kuwait', 'Malawi', 'Oman', 'Lesotho, Kingdom of',
       'Korea, Rep. of', 'Netherlands, The', 'Portugal', 'Slovak Rep.',
       'Nicaragua', 'Montserrat', 'Pakistan', 'Qatar', 'Jamaica',
       'Rwanda', 'Kiribati', 'Senegal', 'Kenya', 'Kazakhstan, Rep. of',
       'Nepal', 'São Tomé and Príncipe, Dem. Rep. of', 'Morocco',
       'Nigeria', 'Malaysia', 'Lebanon', 'Mongolia', 'Jordan', 'Namibia',
       'North Macedonia, Republic of', 'Serbia, Rep. of', 'Philippines',
       'Iran, Islamic Rep. of', 'Solomon Islands', 'Montenegro',
       'Madagascar, Rep. of', 'San Marino, Rep. of', 'Panama',
       'Martinique', 'Maldives', 'Kyrgyz Rep.', 'Sierra Leone', 'Myanmar',
       'New Caledonia', 'Malta', 'Seychelles', "Lao People's Dem. Rep.",
       'Kosovo, Rep. of', 'Iraq', 'Peru',
       'Sint Maarten, Kingdom of the Netherlands', 'Libya',
       'Poland, Rep. of', 'Romania', 'Moldova, Rep. of', 'Nauru, Rep. of',
       'Somalia', 'Tanzania, United Rep. of', 'Switzerland', 'Turkey',
       'Uruguay', 'Spain', 'United States', 'West Bank and Gaza',
       'United Kingdom', 'Sweden', 'United Arab Emirates',
       'St. Vincent and the Grenadines', 'South Sudan, Rep. of',
       'Zimbabwe', 'Sudan', 'St. Lucia', 'St. Kitts and Nevis', 'Uganda',
       'Tunisia', 'Vietnam', 'Zambia', 'Ukraine', 'Tonga', 'Togo',
       'Sri Lanka', 'Trinidad and Tobago', 'Yemen, Rep. of', 'Suriname',
       'Venezuela, Rep. Bolivariana de', 'Timor-Leste, Dem. Rep. of',
       'Syrian Arab Rep.', 'Tajikistan, Rep. of', 'Uzbekistan, Rep. of',
       'Thailand'], dtype=object)

In [14]:
df_countries = df[(df["Country Name"] == "Iran, Islamic Rep. of") & (df["Indicator Code"] == "PCPI_IX")]
print(df_countries)

               Country Name  Country Code                   Indicator Name  \
9988  Iran, Islamic Rep. of           429  Consumer Price Index, All items
9989  Iran, Islamic Rep. of           429  Consumer Price Index, All items

     Indicator Code         Attribute 1950M1 1950M2 1950M3 1950M4 1950M5  ...  \
9988        PCPI_IX             Value    NaN    NaN    NaN    NaN    NaN  ...
9989        PCPI_IX  Reference Period    NaN    NaN    NaN    NaN    NaN  ...

     2022M1 2022M2 2022M3 2022M4 2022M5 2022M6 2022M7 2022M8  \
9988  388.2  396.4  401.5    415  429.6    NaN    NaN    NaN
9989  2016A  2016A  2016A  2016A  2016A    NaN    NaN    NaN

     Common Reference Period Unnamed: 878
9988                   2016A          NaN
9989                     NaN          NaN

[2 rows x 879 columns]

In [6]:
target_countries = ["Iran", "United Arab Emirates"]
df_countries = df[df["Country Name"].isin(target_countries)]

print(df_countries.isnull().sum())

print(df_countries[df_countries.isnull().any(axis=1)])

Country Name                0
Country Code                0
Indicator Name              0
Indicator Code              0
Attribute                   0
                           ..
2022M6                     76
2022M7                     76
2022M8                     76
Common Reference Period    63
Unnamed: 878               76
Length: 879, dtype: int64
               Country Name  Country Code  \
13096  United Arab Emirates           466
13097  United Arab Emirates           466
13098  United Arab Emirates           466
13099  United Arab Emirates           466
13102  United Arab Emirates           466
...                     ...           ...
14144  United Arab Emirates           466
14145  United Arab Emirates           466
14154  United Arab Emirates           466
14670  United Arab Emirates           466
14671  United Arab Emirates           466

                                          Indicator Name      Indicator Code  \
13096    Communication, Percentage change, Previous year   PCPIEC_PC_CP_A_PT
13097                                  Education, Weight           PCPIED_WT
13098                                          Education           PCPIED_IX
13099                                          Education           PCPIED_IX
13102  Furnishings, household equipment and routine h...           PCPIHO_IX
...                                                  ...                 ...
14144      Transport, Percentage change, Previous period      PCPIT_PC_PP_PT
14145  Restaurants and hotels, Percentage change, Pre...     PCPIRE_PC_PP_PT
14154  Alcoholic Beverages, Tobacco, and Narcotics, P...  PCPIFBT_PC_CP_A_PT
14670                            Health, Weight, Percent         PCPIM_WT_PT
14671  Food and non-alcoholic beverages, Weight, Percent         PCPIF_WT_PT

              Attribute 1950M1 1950M2 1950M3 1950M4 1950M5  ... 2022M1 2022M2  \
13096             Value    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN
13097             Value    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN
13098             Value    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN
13099  Reference Period    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN
13102             Value    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN
...                 ...    ...    ...    ...    ...    ...  ...    ...    ...
14144             Value    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN
14145             Value    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN
14154             Value    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN
14670             Value    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN
14671             Value    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN

      2022M3 2022M4 2022M5 2022M6 2022M7 2022M8 Common Reference Period  \
13096    NaN    NaN    NaN    NaN    NaN    NaN                     NaN
13097    NaN    NaN    NaN    NaN    NaN    NaN                     NaN
13098    NaN    NaN    NaN    NaN    NaN    NaN                   2014A
13099    NaN    NaN    NaN    NaN    NaN    NaN                     NaN
13102    NaN    NaN    NaN    NaN    NaN    NaN                   2014A
...      ...    ...    ...    ...    ...    ...                     ...
14144    NaN    NaN    NaN    NaN    NaN    NaN                     NaN
14145    NaN    NaN    NaN    NaN    NaN    NaN                     NaN
14154    NaN    NaN    NaN    NaN    NaN    NaN                     NaN
14670    NaN    NaN    NaN    NaN    NaN    NaN                     NaN
14671    NaN    NaN    NaN    NaN    NaN    NaN                     NaN

      Unnamed: 878
13096          NaN
13097          NaN
13098          NaN
13099          NaN
13102          NaN
...            ...
14144          NaN
14145          NaN
14154          NaN
14670          NaN
14671          NaN

[76 rows x 879 columns]

In [10]:
df_countries = df[(df["Country Name"] == "Iran")]
print(df_countries)

# 1. Define the specific non-date columns you want to keep
base_cols = ['Country Name', 'Country Code', 'Indicator Code']

# 2. Dynamically find all date columns from 1990 onwards
date_cols = []
for col in df.columns:
    # Check if 'M' is in the column name and the first 4 characters are numbers (the year)
    if 'M' in col and col[:4].isdigit():
        year = int(col[:4]) # Extract the year
        if year >= 1990:    # Only keep 1990 and later
            date_cols.append(col)

# 3. Combine both lists of columns
cols_to_keep = base_cols + date_cols

# 4. Create the final transformed DataFrame
df_transformed = df[cols_to_keep]

# Let's check the result
print(df_transformed.head())

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, Attribute, 1950M1, 1950M2, 1950M3, 1950M4, 1950M5, 1950M6, 1950M7, 1950M8, 1950M9, 1950M10, 1950M11, 1950M12, 1951M1, 1951M2, 1951M3, 1951M4, 1951M5, 1951M6, 1951M7, 1951M8, 1951M9, 1951M10, 1951M11, 1951M12, 1952M1, 1952M2, 1952M3, 1952M4, 1952M5, 1952M6, 1952M7, 1952M8, 1952M9, 1952M10, 1952M11, 1952M12, 1953M1, 1953M2, 1953M3, 1953M4, 1953M5, 1953M6, 1953M7, 1953M8, 1953M9, 1953M10, 1953M11, 1953M12, 1954M1, 1954M2, 1954M3, 1954M4, 1954M5, 1954M6, 1954M7, 1954M8, 1954M9, 1954M10, 1954M11, 1954M12, 1955M1, 1955M2, 1955M3, 1955M4, 1955M5, 1955M6, 1955M7, 1955M8, 1955M9, 1955M10, 1955M11, 1955M12, 1956M1, 1956M2, 1956M3, 1956M4, 1956M5, 1956M6, 1956M7, 1956M8, 1956M9, 1956M10, 1956M11, 1956M12, 1957M1, 1957M2, 1957M3, 1957M4, 1957M5, 1957M6, 1957M7, 1957M8, 1957M9, 1957M10, 1957M11, ...]
Index: []

[0 rows x 879 columns]
  Country Name  Country Code   Indicator Code            1990M1  \
0       Brazil           223    PCPI_PC_PP_PT  67.5500201585559
1       Brazil           223  PCPI_PC_CP_A_PT  2426.12066594988
2       Brazil           223        PCPIEC_IX               NaN
3       Brazil           223        PCPIEC_IX           1993M12
4       Brazil           223         PCPIA_IX               NaN

             1990M2            1990M3            1990M4            1990M5  \
0  75.7299998872637  82.3899860535296  15.5199783192206  7.59000524605285
1  3701.29520297563  6390.52873938333  6821.30914769282  6214.99288949151
2               NaN               NaN               NaN               NaN
3           1993M12           1993M12           1993M12           1993M12
4               NaN               NaN               NaN               NaN

             1990M6            1990M7  ...            2021M11  \
0  11.7500127582383   12.920002092382  ...  0.950069037020781
1   5385.4302602777  4749.02826788979  ...   10.7385009076792
2               NaN               NaN  ...                NaN
3           1993M12           1993M12  ...            1993M12
4               NaN               NaN  ...                NaN

             2021M12             2022M1            2022M2            2022M3  \
0  0.729958243425856  0.540029150136277  1.01006161132049  1.62005007047194
1   10.0609827374433   10.3794248442458  10.5436617263354  11.2994121295852
2                NaN                NaN               NaN               NaN
3            1993M12            1993M12           1993M12           1993M12
4                NaN                NaN               NaN               NaN

             2022M4             2022M5             2022M6              2022M7  \
0  1.06001808126436  0.470007269445767  0.670057758760498  -0.680003407761961
1  12.1316302169067    11.731212845584    11.886869625198    10.0694033168709
2               NaN                NaN                NaN                 NaN
3           1993M12            1993M12            1993M12             1993M12
4               NaN                NaN                NaN                 NaN

  2022M8
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 395 columns]